#kontakt {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding: var(--padding6) 0;
  align-items: center;
}

.wrapper {
  background-color: white;
}

.info {
  display: flex;
  flex-direction: column;
}

.icon i {
  color: var(--color);
  font-size: 1.5rem;
  margin: auto;
}

.title h1 {
  margin: 0 0 0.3em 0;
  font-size: 40px;
}

.title h4 {
  color: var(--color);
  margin-top: 0;
}

.item {
  align-items: center;
  display: flex;
  padding: 12px 0;
  color: var(--dark);
}

.item span {
  margin-left: 2rem;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 100vh;
  border: 1px solid var(--color);
}

.formWrapper {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  width: 450px;
  max-width: 100%;
}

.formHeading h2 {
  letter-spacing: 0.5px;
  margin-top: 0;
  color: var(--color);
}

.input input {
  border: none;
  outline: none;
  background-color: #f9fbfd;
  text-decoration: none;
  margin: 5px 0 !important;
  letter-spacing: 1px;
  line-height: 45px;
  width: 100%;
  font-family: "Roboto Slab", serif;
  max-width: 100%;
}

.message textarea {
  border: none;
  background-color: #f9fbfd;
  outline: none;
  text-decoration: none;
  height: 150px;
  margin: 5px 0;
  line-height: 45px;

  width: 100%;
  max-width: 100%;
  font-family: "Roboto Slab", serif;
}

.formButton button {
  cursor: pointer;
  letter-spacing: 0.5px;
  margin: auto;
  color: var(--white);
  font-weight: 600;
  font-size: 1.1rem;
  padding: 1rem 2.5rem;
  margin-top: 1rem;
  background-color: var(--color);
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid transparent;
}

.button a:hover {
  border: 2px solid var(--color);
  font-weight: 800;
  border-radius: 4px;
  background-color: var(--white);
  color: var(--color);
  transition: 300ms;
}

.formButton button:hover {
  color: var(--color);
  background-color: var(--white);
  transition: 0.3s;
  border: 2px solid var(--color);
}

@media (max-width: 768px) {
  #kontakt {
    padding-top: 0.5rem;
  }
  .icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .item h2 {
    font-size: 0.8rem;
  }
  .item span {
    margin-left: 0.5rem;
  }
  .icon i {
    font-size: 1.5rem;
  }
  .title h1 {
    font-size: 1.8rem;
    padding-top: 1rem;
  }
  .formHeading h2 {
    font-size: 1.1rem;
  }
  .input input {
    width: 100%;
    padding: 0.5rem;
  }
  .input {
    padding: 0 2rem 0 1rem;
  }
  .form {
    padding: 2rem 0;
    margin: 0;
    max-width: 100%;
  }
  .formWrapper {
    padding: 1.5rem 0 1rem 0;
  }
  .formHeading h2 {
    margin: 0 1rem 1rem 1rem;
  }
  .message textarea {
    height: 120px;
    width: 100%;
    padding: 0.5rem;
  }
  .formButton button {
    font-size: 0.9rem;
  }
}
