#MenuContent {
  display: flex;
  flex-direction: row;
  padding: var(--padding6) 0;
  margin: auto;
  height: auto;
}

.wrapper {
  background-color: #f6f8fb;
}

.content h1 {
  margin: 0 0 0.3rem 0;
  font-size: 40px;
}

.title h4 {
  color: var(--color);
}

.content {
  width: 600px;
}

.special li::before {
  content: "\2022";
  color: var(--color);
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 1rem;
  font-size: 1.2rem;
  margin-left: -1em;
}

.button {
  padding: 2rem 1rem 1rem 0;
}

.button a {
  margin: auto;
  color: var(--white);
  font-weight: 800;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  padding: 0.7rem 2rem;
  background-color: var(--color);
  text-decoration: none;
  border: 2px solid transparent;
}

.button a:hover {
  border: 2px solid var(--color);
  font-weight: 800;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--color);
  transition: 200ms;
}

.image img {
  object-position: center;
  object-fit: cover;
  border-radius: 100vh;
  width: 500px;
  height: 500px;
}

.image {
  align-items: center;
  justify-content: center;
  display: flex;
}

.special p,
.special li {
  margin: 0;
  display: flex;
  padding: 0;
  color: var(--lightdark);
}

@media (max-width: 768px) {
  #MenuContent {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 2rem !important;
  }
  .title {
    width: 100%;
  }
  .image img {
    height: 300px;
    border-radius: 0.5rem;
    width: 100%;
  }
  .content h1 {
    font-size: 1.8rem;
  }
  .content h3 {
    font-size: 1rem;
  }
  .content p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .content {
    width: 100%;
    padding: 2rem 0 1rem 0;
    margin: 0;
  }
  .button a {
    font-size: 0.8rem;
  }
  .text {
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  #MenuContent {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding-top: 2rem !important;
  }
  .title {
    width: 70%;
  }
  .image img {
    object-position: top;
    height: 350px;
    width: 100%;
    border-radius: 0.5rem;
  }
  .content h1 {
    font-size: 2rem;
  }
  .content h3 {
    font-size: 1.1rem;
  }
  .content p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .content {
    width: 100%;
    padding: 2rem 0 1rem 0;
    margin: 0;
  }
  .button a {
    font-size: 1rem;
  }
  .text {
    width: 100%;
  }
}
