#MenuContent {
  display: flex;
  flex-direction: row;
  padding: var(--padding6) 0;
  margin: auto;
  height: auto;
}

.wrapper {
  min-height: 80vh;
}

.content h1 {
  margin: 0 0 0.3rem 0;
  font-size: 40px;
}

.title h4 {
  color: var(--color);
  margin-top: 0;
}

.content {
  width: 600px;
}

.special li::before {
  content: "\2022";
  color: var(--color);
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 1rem;
  font-size: 1.2rem;
  margin-left: -1em;
}

.button {
  padding: 2rem 1rem 1rem 0;
}

.button a {
  margin: auto;
  color: var(--white);
  font-weight: 800;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  padding: 0.7rem 2rem;
  background-color: var(--color);
  text-decoration: none;
  border: 2px solid transparent;
}

.button a:hover {
  border: 2px solid var(--color);
  font-weight: 800;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--color);
  transition: 200ms;
}

.image img {
  object-position: center;
  object-fit: cover;
  border-radius: 100vh;
  width: 500px;
  height: 500px;
}

.image {
  align-items: center;
  justify-content: center;
  display: flex;
}

.text p:nth-child(2) {
  margin-bottom: 0;
}

.special ul {
  margin-bottom: 0;
}

.special p,
.special li {
  margin: 0;
  display: flex;
  padding: 0;
  color: var(--lightdark);
}

@media (max-width: 768px) {
  #MenuContent {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: var(--padding4) 0 !important;
  }
  .title h4 {
    margin-top: 2rem;
  }
  .image img {
    height: 250px;
    border-radius: 4px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .image img {
    width: 450px;
    height: 450px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .image img {
    width: 100%;
    height: 500px;
    border-radius: 4px;
    margin-top: 2rem;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
  .image img {
    width: 100%;
    height: 300px;
  }
  .image {
    width: 100%;
  }
}
