#home {
  display: flex;
  margin: auto;
  flex-direction: row;
  align-items: center;
  height: auto;
  padding: var(--padding6) 0;
}

.homeWrapper {
  background-color: var(--bg);
}

.content h1 {
  margin: 0 0 0.3rem 0;
}

.content {
  margin-right: 4rem !important;
}

.text p {
  line-height: 2.1;
}

.text {
  margin-bottom: 3rem;
}

.button a {
  margin: 3rem 0 0 0;
  color: var(--white);
  font-weight: 600;
  font-size: 1.3rem;
  padding: 1rem 2.5rem;
  background-color: var(--color);
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid transparent;
}

.button a:hover {
  border: 2px solid var(--color);
  font-weight: 800;
  border-radius: 4px;
  background-color: var(--white);
  color: var(--color);
  transition: 300ms;
}

.image {
  justify-content: center;
  display: flex;
  justify-content: flex-end;
  width: 600px;
}

.image img {
  content: url("../../images/lectures.png");
  width: 100%;
  max-width: 100%;
  top: 0;
}

@media (max-width: 768px) {
  #home {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 !important;
  }
  .content h1 {
    width: 100%;
  }
  .content {
    width: 100%;
    padding: 2rem 0 1rem 0;
    margin: 0 !important;
  }
  .button a {
    font-size: 1rem;
  }
  .text {
    padding-top: 3px;
    width: 100%;
  }
  .image {
    width: 100%;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: portrait) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
}
