.footerContainer {
  padding: 4rem 0;
  margin: auto !important;
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: var(--bg);
}

.footer a {
  text-decoration: none;
  margin: 0 0 0 2rem;
  color: black;
  font-weight: 400;
  font-size: 18px;
}

.footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}

.footer i {
  color: #4267b2;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .footer li {
    margin: 0 0 10px 10px;
  }
  .footer a {
    font-size: 14px;
    margin: 0 0 0 0px;
  }
  .footer ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footerContainer {
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  .footerContainer {
    margin-top: auto;
  }
}
