#om {
  display: flex;
  margin: auto;
  justify-content: center;
}

.wrapper {
  padding: var(--padding6) 0;
  background-color: white;
}

.om {
  display: flex;
}

.content {
  width: 8 00px;
  padding: 0 !important;
  margin: 0 !important;
}

.content h1 {
  margin: 0 0 0.3em 0;
  font-size: 3.5rem;
}

.title h4 {
  color: var(--color);
}

.title h1 {
  font-size: 40px;
}

.button a {
  color: var(--white);
  font-weight: 600;
  font-size: 1.3rem;
  padding: 1rem 2.5rem;
  background-color: var(--color);
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid transparent;
}

.button a:hover {
  border: 2px solid var(--color);
  font-weight: 800;
  border-radius: 4px;
  background-color: transparent;
  color: var(--color);
  transition: 300ms;
}

.button {
  margin: 3rem 0 0;
}

.image img {
  content: url("../../images/Lars.jpg");
  object-position: center;
  object-fit: cover;
  max-width: 100%;
  border-radius: 0.5rem;
  border-radius: 100vh;
  height: 500px;
  width: 500px;
}

.image {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .om,
  #om {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }
  #om {
    padding: 2rem 0 !important;
  }
  .title {
    width: 100%;
  }
  .text {
    width: 100%;
  }
  .image img {
    height: 300px;
    border-radius: 4px;
  }
  .image {
    padding-right: 0;
    width: 100%;
  }
  .content h1 {
    font-size: 1.8rem;
  }
  .content h3 {
    font-size: 1rem;
  }
  .content p {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .content {
    width: 100%;
    padding: 2rem 0 1rem 0;
    margin: 0;
  }
  .button a {
    font-size: 1rem;
  }
}
