#om {
  display: flex;
  margin: auto;
  justify-content: center;
}

.wrapper {
  padding: var(--padding6) 0;
  background-color: white;
}

.om {
  display: flex;
  padding: 0;
}

.content h1 {
  margin: 0 0 0.3em 0;
  font-size: 3.5rem;
}

.title h4 {
  color: var(--color);
  margin-top: 0;
}

.title h1 {
  font-size: 40px;
}

.button a {
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  padding: 1rem 2.5rem;
  background-color: var(--color);
  text-decoration: none;
  border-radius: 4px;
  border: 2px solid transparent;
}

.button a:hover {
  border: 2px solid var(--color);
  font-weight: 800;
  border-radius: 4px;
  background-color: transparent;
  color: var(--color);
  transition: 300ms;
}

.button {
  margin-top: 3rem;
}

.image img {
  content: url("../../images/Lars.jpg");
  object-position: center;
  object-fit: cover;
  max-width: 100%;
  border-radius: 0.5rem;
  border-radius: 100vh;
  height: 500px;
  width: 500px;
}

.image {
  align-items: center;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .om,
  #om {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
    text-align: center;
  }
  .wrapper {
    padding: var(--padding4) 0 5.5rem 0;
  }
  .image img {
    height: 250px;
    border-radius: 4px;
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .image img {
    margin-left: 4rem;
  }
}

@media screen and (min-width: 1200px) {
  #om {
    justify-content: center;
  }
}
