.secondMenu a {
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
}

.secondMenu li {
  margin: 0 0 0 2.5rem;
  padding-top: 5px;
  padding-bottom: 7px;
  color: white;
}

.mainMenu a {
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
  color: var(--white);
  padding-left: 0.7rem;
}

.mainMenu li {
  list-style: none;
  color: var(--white);
  padding: 1rem 0 0 1rem;
  align-items: center;
}

.mainMenu i {
  padding: 4px 0px;
  margin-top: 3px;
  font-size: 1.7rem;
}

.mainMenu ul {
  padding: 0;
  margin: 1rem 0 0 0;
}

.secondMenu ul {
  padding: 0;
  margin: 0;
}

.closeIcon i {
  cursor: pointer;
  right: 0;
  top: 0;
  padding: 2rem 1.5rem;
  position: absolute;
  font-size: 1.8rem;
  color: var(--white);
}

.expandHamburger {
  transition: 400ms;
  width: 100%;
  height: 100%;
  background-color: var(--color);
  position: fixed;
  display: absolute;
}

.hamburger i {
  font-size: 1.6rem;
  color: var(--color);
  display: none;
  padding: 2rem 1.5rem;
}

.hamburger {
  height: 0px;
}

@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .hamburger i {
    display: flex;
    position: absolute;
  }
  .hamburger {
    display: flex;
  }
}
