#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 3rem 0;
}

nav {
  background-color: white;
  border-bottom: 1px solid #e9edf5;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-decoration: none;
}

.title h1 {
  margin: 0 5px;
  font-weight: 400;
  font-size: 2rem;
  color: var(--dark);
}

.title img {
  content: url("../../images/apple.png");
  width: 30px;
}

.links {
  display: flex;
}

.menu {
  margin-right: 10px;
}

.menu ul {
  display: flex;
  flex-direction: row;
}

.menu li {
  margin-left: 2rem;
  list-style: none;
}

.menu a:hover {
  color: var(--color);
}

.menu i {
  margin-right: 3px;
  cursor: pointer;
  color: var(--color);
}

.menu a {
  font-size: 18px;
  color: var(--dark);
  font-weight: 500;
  text-decoration: none;
}

.dropDown a,
.dropDown li {
  font-weight: 400;
  color: black;
  font-size: 1.1rem;
  padding: 8px 0;
  text-decoration: none;
  margin-left: 0;
}

.dropDown a:hover {
  color: var(--color);
}

.dropDown {
  width: 300px;
  height: auto;
  position: absolute;
  background-color: var(--white);
  margin: 1.5rem 0 0 0;
  transition: 400ms;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  z-index: 2;
  padding: 5px;
}

/*.dropDown:after {
  content: "";
  position: absolute;
  right: 230px;
  top: -19px;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 10px;
  border-bottom-color: white;
  box-shadow: var(--shadow);
}*/

.dropDown ul {
  padding: 1rem 1.1rem;
  display: flex;
  flex-direction: column;
}

.hoverWrapper {
  height: 300px;
  width: 300px;
  background-color: transparent;
  position: absolute;
  z-index: 1;
}

@media (max-width: 768px) {
  .title {
    display: flex;
    justify-content: space-between;
  }
  .title img {
    width: 30px;
    margin-bottom: 5px;
  }
  .menu {
    display: none;
  }
  .title h1 {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .menu {
    display: none;
  }

  .title h1 {
    font-size: 1.8rem;
  }
  .title img {
    width: 40px;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .menu {
    display: flex;
  }
}
